/* CSS RESET */
html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%
}

/* STYLE BEGINS BELOW */

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f7f7f7;
}

h2 {
  font-size: 1.5em;
  padding: 20px 0px;
}

/* .container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid green;
} */

.form-buttons {
  background-color: #ff8f32;
  border: solid 1px #e26e17;
  color: #ffffff;
  border-radius: 6px;
  padding: 6px 60px;
  margin: 30px 0px;
}

.relationship-field-options-container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.relationship-field-options-container label {
  width: 400px;
}

.relationship-field-options-container label span {
  padding-left: 10px;
}

.profile-input {
  font-size: 14px;
  padding: 10px 12px;
  border: 1px solid #dddddd;
  line-height: 1.5em;
  color: #666666;
  width: 300px;
}

.gender-field-options {
  background-color: #ffffff;
}

.gender-field-options-container {
  display: flex;
}

.gender-field-options-container label {
  margin: 20px;
}

.gender-field-options-container label > input[type="radio"] { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.gender-field-options-container label > input[type="radio"] + img { /* IMAGE STYLES */
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.gender-field-options-container label > input[type="radio"]:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
  border: 1px solid #00bebe;
  box-shadow: 0 0 10px #00bebe;
}

/* Phone only */
@media (max-width:599px) {
  .container {
    width: 90%;
    margin: 0 auto;
    border: 1px solid orange;
  }

  #last-name-input {
    display: flex;
    align-items: flex-end;
  }

  #last-name-input h4 {
    align-self: flex-start;
    padding-left: 12px;
  }

  .profile-input {
    font-size: 12px;
    padding: 10px 12px;
    border: 1px solid #dddddd;
    line-height: 1.5em;
    color: #666666;
    width: 75%;
  }

  .form-buttons {
    width: 304px;
    background-color: #ff8f32;
    border: solid 1px #e26e17;
    color: #ffffff;
    border-radius: 6px;
    padding: 6px 60px;
    margin: 30px 0px;
  }

  .birthday-field-container img {
    width: 300px;
    padding-bottom: 20px;
  }

  h4 {
    font-weight: bold;
    font-size: 0.85em;
    padding-bottom: 5px;
  }
}

/* Phone and Tablet Portrait */
@media (max-width:899px) {
  .profile-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .name-field-container,
  .birthday-field-container,
  .gender-field-container,
  .relationship-field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .name-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .name-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}

/* Tablet Portrait Only */
@media (min-width:600px) and (max-width:899px) {
  .container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid green;
  }

  .name-field-container,
  .birthday-field-container,
  .gender-field-container,
  .relationship-field-container {
    width: 90%;
  }

  .name-inner-container {
    width: 450px;
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
  }

  #last-name-input {
    display: flex;
    align-items: flex-end;
  }

  #last-name-input h4 {
    align-self: flex-start;
    margin-left: -5px;
  }

  .name-labels {
    width: 45%;
  }

  .profile-input {
    font-size: 12px;
    padding: 10px 12px;
    border: 1px solid #dddddd;
    line-height: 1.5em;
    color: #666666;
    width: 90%;
  }

  .form-buttons {
    width: 450px;
    background-color: #ff8f32;
    border: solid 1px #e26e17;
    color: #ffffff;
    border-radius: 6px;
    padding: 6px 60px;
    margin: 30px 0px;
  }

  .birthday-field-container img {
    width: 375px;
    padding-bottom: 20px;
  }

  h4 {
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 5px;
  }

}

/* Tablet Landscape and Up */
@media (min-width:900px) {
  .container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid green;
  }

  .profile-input {
    font-size: 12px;
    padding: 10px 12px;
    border: 1px solid #dddddd;
    line-height: 1.5em;
    color: #666666;
    width: 400px;
    margin-bottom: 15px;
  }

  .form-buttons {
    width: 425px;
    background-color: #ff8f32;
    border: solid 1px #e26e17;
    color: #ffffff;
    border-radius: 6px;
    padding: 6px 60px;
    margin: 30px 0px;
  }

  .birthday-field-container {
    display: flex;
    flex-direction: column;
  }

  .birthday-field-container img {
    width: 400px;
    padding-bottom: 40px;
  }

  h4 {
    font-weight: bold;
    padding-bottom: 5px;
  }
}

/* Desktop and Up */
@media (min-width:1200px) {

}
