body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f7f7f7;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.form-buttons {
  background-color: #ff8f32;
  border: solid 1px #e26e17;
  color: #ffffff;
  border-radius: 6px;
  padding: 6px 60px;
  margin: 30px 0px;
}

.relationship-field-options-container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.relationship-field-options-container label {
  width: 400px;
}

.relationship-field-options-container label span {
  padding-left: 10px;
}

.profile-input {
  font-size: 14px;
  padding: 10px 12px;
  border: 1px solid #dddddd;
  line-height: 1.5em;
  color: #666666;
  width: 300px;
}

.gender-field-options {
  background-color: #ffffff;
}

.gender-field-options-container {
  display: flex;
}

.gender-field-options-container label {
  margin: 20px;
}

.gender-field-options-container label > input[type="radio"] { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.gender-field-options-container label > input[type="radio"] + img { /* IMAGE STYLES */
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.gender-field-options-container label > input[type="radio"]:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
  border: 1px solid #00bebe;
  box-shadow: 0 0 10px #00bebe;
}

/*  FIX: h2 CSS so only keyword is bolded */
